:host{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: rgba(255, 255, 255, 0.6);
    padding: 2rem;
    border-radius: 2rem;
    backdrop-filter: blur(1px);
}